<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{message}}
      <input class='field' type='text' placeholder='id'></input>
      <select class='field' placeholder='scenario'>
        <option value='BandersGuru'>BandersGuru</option>
      </select>
      <select class='field' placeholder='currentStep'>
          <option value='initial'>initial</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
        </select>
      <input type='submit' v-on:click="handleClick"></input>
  </div>
  
</body>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./app.js"></script>
  <script>
  </script>
</html>